
.about-section {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin-bottom: 3%;
    row-gap: 16px;
}

.about-section h1 {
    font-size: 1.5rem;
    grid-column: 1 / span 11;
}

.about-text {
    grid-column: 1 / span 7;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: space-around;
}

.about-description {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.about-image {
    grid-column: 9 / span 3;
    display: flex;
    justify-content: left;
    align-items: flex-start
}
.about-image img {
    width: 100%;
    height: auto;
}

.container-card-about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 0.7rem;
}

.card-about {
    background: #FFF8F8;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'DMSans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
}

.card-about h3 {
    font-size: 1.2em;
    color: #302E87;
}

.card-about-skill {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
    align-items: center;
}

.card-about-skill-icon {
    width: 35px; /* Ajusta según necesites */
    height: 35px;
    background-color: #FF918C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Evita que el icono se reduzca */
}

.card-about-skill-icon img {
    width: 60%; /* Ajusta el tamaño del icono dentro del círculo */
    height: auto;
    border-radius: 0px;
}
  

main h2, main h3, main p {
    margin: 0;
}

.design-process-section {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    row-gap: 16px;
    margin-bottom: 0;
}

.design-process-section h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.container-card-design-process {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 0.7rem;
}

.card-design-process {
    background: #FFF8F8;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'DMSans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-design-process-icon {
    width: 50px; /* Ajusta según necesites */
    height: 50px;
    background-color: #FF918C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Evita que el icono se reduzca */
    margin-bottom: 1.2rem; /* Espacio entre el icono y el título */
}

.card-design-process-icon img {
    width: 60%; /* Ajusta el tamaño del icono dentro del círculo */
    height: auto;
    border-radius: 0px;
}

.card-design-process h3 {
    font-size: 1.2em;
    color: #302E87;
    margin-bottom: 0.1rem
}

.card-design-process h4 {
    font-size: 1.1em;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #ff8a88;
    font-style: oblique;
}

.card-design-process p {
    margin-top: 0;
    font-size: 1em;
}

.carousel-section {
    margin-bottom: 0;
}

.skills-section {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 2%;
}

.skills-section li {
    list-style-type: circle;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.skills-column {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* Posiciones iniciales para columnas */
.skills-column:nth-child(1) {
    grid-column: 1 / span 4;
}

.skills-column:nth-child(2) {
    grid-column: 5 / span 4;
}

.skills-column:nth-child(3) {
    grid-column: 9 / span 4;
}

/* Adaptación para pantallas medianas */
@media (max-width: 1000px) {
    .skills-container {
        grid-template-columns: repeat(6, 1fr); /* Cambiar a 6 columnas */
    }

    .skills-column:nth-child(1) {
        grid-column: 1 / span 2;
    }

    .skills-column:nth-child(2) {
        grid-column: 3 / span 2;
    }

    .skills-column:nth-child(3) {
        grid-column: 5 / span 2; /* Reubicar a nueva fila */
    }
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 500px) {
    .resume-section {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 10%;
    }

    .skills-container {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a 3 columnas */
    }

    .skills-column:nth-child(1) {
        grid-column: 1 / span 1; /* Primera fila */
    }

    .skills-column:nth-child(2) {
        grid-column: 1 / span 1; /* Segunda fila */
    }

    .skills-column:nth-child(3) {
        grid-column: 1 / span 1; /* Tercera fila */
    }
}