.highlighted-text {
  background-color: #a1d9f5;
  padding: 0px 2px;
  border-radius: 2px;
}

.highlighted-work {
  text-align: left;
  
}

.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.work-card {
  background: #ffffff;
  color: #302E87;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-decoration: none;

}

.work-card:hover {
  transform: scale(1.01);
}

.work-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.work-card-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.work-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.work-card-subtitle {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.work-card-extra-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.work-card-tags {
  display: flex;
  column-gap: 0.5rem;
}

.tag {
  background: #ff8a88;
  color: #302E87;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.9rem;
}

.work-card-view-work {
  margin-top: 0.5em;
  font-weight: bold;
  text-decoration: none;
}

.view-all-projects-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  background: var(--blue);
  color: var(--pink);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.view-all-projects-btn:hover {
  background: #A1D9F5;
  color: #302E87;
}  

@media (max-width: 1375px) {
  .view-project-text {
    display: none;
  }
}

@media (max-width: 1024px) {
  .work-container {
      grid-template-columns: repeat(6, 1fr);
  }

  .work-card {
      grid-column: span 3;
  }
}


/* Pantallas menores a 700px */
@media (max-width: 700px) {
  .work-container {
      grid-template-columns: repeat(4, 1fr);
  }

  .work-card {
      grid-column: span 4;
  }
}