html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SpaceGrotesk', sans-serif;
    margin: 0px;
    color: #302E87;
    overflow-x: hidden;
    row-gap: 0;
}

h1, h3, h4, h5, h6, p {
    margin: 0;
}

h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.subheader {
    display: none;
    background-color: #A1D9F5;
}

.subheader a {
    color: #302E87;
    font-weight: 500;
}

.subheader a:hover {
    font-weight: 700;
}

.subheader h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Submenu-toggle {
    color: #302E87;
    font-family: DM Sans, sans-serif;
}

video {
    border-radius: 16px;
}

.highlighted-text {
    background-color: #FF918C;
    color: white;
    padding: 0px 6px;
    border-radius: 20px;
    font-weight: 500;
}

.highlighted-text-index {
    background-color: #a1d9f5;
    padding: 4px 6px;
    border-radius: 8px;
}

.btn-prototype-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.btn-prototype-intro-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.btn-prototype {
    font-family: 'DMSans', sans-serif;
    background-color: #A1D9F5;
    color: #302E87;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 300px; 
    max-width: 100%; 
}

.btn-prototype:hover {
    background-color: #B3E1F7;
    color: #302E87;
}

.project-img-section-first {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 5%;
}

.project-img-section-first img, .project-img-section-second img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.project-img-section-second {
    margin-top: 5%;
    margin-bottom: 5%;
}

.intro-section {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 0%;
}

.intro-top {
    grid-column: 1 / span 12;
    margin-bottom: 28px;
}

.intro-title {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.intro-left {
    grid-column: 1 / span 5;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
}

.intro-right {
    grid-column: 7 / span 6;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    justify-content: flex-start;
}

.intro-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.intro-item h1 {
    font-size: 2.5em;
 }

.intro-item h2 {
    font-size: 1.5em;
    margin-top: 0.2em;
    font-family: 'DMSans', sans-serif;
 }

.content-section {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 0%;
}

.content-index {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: sticky;
    top: 100px;
    align-self: start;
}

.content-index a {
    text-decoration: none;
    color: #302E87;
    font-weight: normal;
}

.content-index a.active {
    font-weight: bold;
}

.content-index a:hover {
    font-weight: bold;
}

.content-index a:target {
    font-weight: bold;
}

.content-content {
    grid-column: 3 / span 10;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.content-section img {
    width: 100%;
    object-fit: fill;
    border-radius: 16px;
}

.content-father {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    scroll-margin-top: 100px;
}

.content-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.content-item-learnings {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.featured-item-container {
    display: grid;
    grid-template-columns: 1fr; 
    row-gap: 16px; 
}

.featured-item {
    background-color: #FFF8F8;
    border-radius: 48px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    text-align: start;
    align-items: center;
}

.featured-item-icon {
    width: 50px; /* Ajusta según necesites */
    height: 50px;
    background-color: #FF918C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Evita que el icono se reduzca */
}

.featured-item-icon img {
    width: 60%; /* Ajusta el tamaño del icono dentro del círculo */
    height: auto;
    border-radius: 0px;
}

.container-card-solution {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 0.7rem;
}

.card-solution {
    background: #FFF8F8;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'DMSans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-solution-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.card-solution-content {
    padding: 32px 20px 20px; 
    position: relative;
    background: #FFF8F8;
}

.card-solution-icon {
    width: 60px; 
    height: 60px;
    background-color: #FF918C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px; /* Mitad superpuesta */
    left: 15%;
    transform: translateX(-50%);
}

.card-solution-icon img {
    width: 50%; /* Ajusta el tamaño del icono dentro del círculo */
    height: auto;
    border-radius: 0px;
}

.card-solution h3 {
    font-size: 1.3em;
    margin-bottom: 0.5rem;
    color: #302E87;
}

.card-solution p {
    margin-top: 0px;
    font-size: 1em;
}

.container-card-design-process {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 0.7rem;
}

.card-design-process {
    background: #FFF8F8;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'DMSans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-design-process-icon {
    width: 50px; /* Ajusta según necesites */
    height: 50px;
    background-color: #FF918C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Evita que el icono se reduzca */
    margin-bottom: 1.2rem; /* Espacio entre el icono y el título */
}

.card-design-process-icon img {
    width: 60%; /* Ajusta el tamaño del icono dentro del círculo */
    height: auto;
    border-radius: 0px;
}

.card-design-process h3 {
    font-size: 1.4em;
    color: #302E87;
    margin-bottom: 0.5rem
}

.card-design-process p {
    margin-top: 0;
    font-size: 1em;
}




@media (max-width: 700px) {
    .intro-left {
        grid-column: 1 / span 12;
        display: flex;
        
    }

    .intro-right {
        margin-top: 28px;
        grid-column: 1 / span 12;
        row-gap: 2rem;
    }
    
    .intro-item {
        display: flex;
        flex-direction: column;
        row-gap: 0.6rem;
    }

    .projects-container {
        grid-template-columns: 1fr; /* En pantallas pequeñas, una sola columna */
    }

    .content-index {
        display: none;
    }

    .subheader {
        display: flex;
        flex-flow: row;
        padding: 0px 3%;
        padding-right: 1.7%;
    }

    .content-content {
        grid-column: 1 / span 12;
    }

    .btn-prototype {
        width: 100%;
    }

    .btn-prototype-container {
        display: flex;
        justify-content: left;
        width: 100%;
    }
}

