html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SpaceGrotesk', sans-serif;
    margin: 0px;
    color: #302E87;
    overflow-x: hidden;
    row-gap: 0;
}

h1, h3, h4, h5, h6, p {
    margin: 0;
}

h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content-ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.subheader {
    display: none;
    background-color: #A1D9F5;
}

.subheader a {
    color: #302E87;
    font-weight: 500;
}

.subheader a:hover {
    font-weight: 700;
}

.subheader h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Submenu-toggle {
    color: #302E87;
    font-family: DM Sans, sans-serif;
}

video {
    border-radius: 16px;
}

.highlighted-text {
    background-color: #FFE8D6;
    padding: 0px 2px;
    border-radius: 6px;
}

.highlighted-text-index {
    background-color: #a1d9f5;
    padding: 4px 6px;
    border-radius: 8px;
}

.btn-prototype-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.btn-prototype-intro-container {
    display: flex;
    justify-content: left;
    width: 100%;
}

.btn-prototype {
    font-family: 'DMSans', sans-serif;
    background-color: #A1D9F5;
    color: #302E87;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 300px; 
    max-width: 100%; 
}

.btn-prototype:hover {
    background-color: #B3E1F7;
    color: #302E87;
}

.project-img-section-first {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-bottom: 5%;
}

.project-img-section-first img, .project-img-section-second img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.project-img-section-second {
    margin-top: 5%;
    margin-bottom: 5%;
}

.intro-section {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 0%;
}

.intro-top {
    grid-column: 1 / span 12;
    margin-bottom: 28px;
}

.intro-title {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.intro-left {
    grid-column: 1 / span 6;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: flex-start;
}

.intro-right {
    grid-column: 8 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
}

.intro-item h1 {
    font-size: 2.5em;
 }

.intro-item h2 {
    font-size: 1.5em;
    margin-top: 0.2em;
    font-family: DM Sans, sans-serif;
 }

.content-section {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 0%;
}

.content-index {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    position: sticky;
    top: 100px;
    align-self: start;
}

.content-index a {
    text-decoration: none;
    color: #302E87;
    font-weight: normal;
}

.content-index a.active {
    font-weight: bold;
}

.content-index a:hover {
    font-weight: bold;
}

.content-index a:target {
    font-weight: bold;
}

.content-content {
    grid-column: 3 / span 10;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.content-section img {
    width: 100%;
    object-fit: fill;
    border-radius: 16px;
}


.content-father {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    scroll-margin-top: 100px;
}

.content-item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.featured-block-single {
    display: grid;
    grid-template-columns: 1fr; 
    row-gap: 16px; 
}

.featured-item-single {
    background-color: #FFE8D6;
    border-radius: 24px;
    padding: 12px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex-direction: column;
    justify-content: left;
    align-items: top;
}

.featured-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 16px;
}

.featured-item {
    background-color: #FFE8D6;
    border-radius: 25px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: top;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card {
    background-color: #ffffff;
    border-radius: 24px;
    border: 2px solid #FF918C; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.card-header {
    background-color: #302E87;
    padding: 10px 15px;
}

.card-header h4 {
    margin: 0;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
}

.card-content {
    padding: 15px;
    padding-left: 30px;
}

.card-content ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

.card-content li {
    color: #302E87;
    margin-bottom: 8px;
    font-size: 1rem;
}

.two-columns {
    grid-template-columns: repeat(2, 1fr); 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.grid-container-two-rows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.grid-item {
    position: relative;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    max-height: 300px;
}

.grid-item.expanded {
    max-height: 500px;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px 16px 0px 0px;
}

.overlay-text {
    position: relative;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    background: #302E87;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 0px 0px 16px 16px;
    text-align: center;
    cursor: pointer;
}

.overlay-text:hover {
    text-decoration: underline;
}

.extra-content {
    display: none;
    padding: 16px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.grid-item.expanded .extra-content {
    display: block;
}

.container-user-persona {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.7rem;
    width: 100%;
}
.card-user-persona {
    background: white;
    padding: 1.1rem;
    padding-bottom: 0.4rem;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #FF918C; 
    text-align: left;
    font-family: 'DMSans', sans-serif;
}
.card-user-persona h3 {
    font-size: 1.3em;
    margin-bottom: 4px;
    color: #ff8a88;
}

.card-user-persona p {
    margin-top: 0px;
    font-size: 1em;
}

.card-user-persona ul {
    list-style-type: circle;
    padding-inline-start: 1rem;
}

.card-user-persona-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #FF918C;
    color: white;
    text-align: center;
}

.user-persona-profile-image {
    background: #FFFFFF;
    width: 100%;
    height: 70%;
}

.user-persona-profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-persona-profile-text {
    width: 100%;
    height: 30%;
    background: #302E87;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'DMSans', sans-serif;
}

.card-user-persona-behaviours {
    background: white;
    padding: 1.1rem;
    padding-bottom: 0.4rem;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #FF918C; 
    text-align: left;
    font-family: 'DMSans', sans-serif;
    gap: 2rem; 
    display: flex;
    flex-direction: column;
}

.card-user-persona-behaviours h3 {
    font-size: 1.3em;
    color: #ff8a88;
    margin-bottom: 16px;
}

.behaviours-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem
}

.container-user-stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.7rem;
    width: 100%;
}

.card-user-stories {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #FF918C;
    color: white;
    text-align: center;
}

.user-stories-image {
    background: #FFFFFF;
    width: 100%;
    height: 65%;
}

.user-stories-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.user-stories-text {
    width: 100%;
    height: 35%;
    padding: 1rem;
    background: white;
    color: #302E87;
    display: flex;
    flex-direction: row;
    text-align: left;
    font-family: 'DMSans', sans-serif;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
    overflow: hidden; /* Evita el desbordamiento del texto */
    word-wrap: break-word; /* Ajusta el texto largo para que se envuelva correctamente */
    
}









@media (max-width: 1024px) {
    .cards-container,
    .two-columns {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .cards-container,
    .two-columns {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 700px) {
    .intro-left {
        grid-column: 1 / span 12;
        display: flex;
        
    }

    .intro-right {
        margin-top: 28px;
        grid-column: 1 / span 12;
        row-gap: 2rem;
    }
    
    .intro-item {
        display: flex;
        flex-direction: column;
        row-gap: 0.6rem;
    }

    .projects-container {
        grid-template-columns: 1fr; /* En pantallas pequeñas, una sola columna */
    }

    .content-index {
        display: none;
    }

    .subheader {
        display: flex;
        flex-flow: row;
        padding: 0px 3%;
        padding-right: 1.7%;
    }

    .content-content {
        grid-column: 1 / span 12;
    }

    .btn-prototype {
        width: 100%;
    }

    .btn-prototype-container {
        display: flex;
        justify-content: left;
        width: 100%;
    }
}



@media (max-width: 480px) {
    .card {
        font-size: 0.9rem; 
    }
}
